<script>
  $( function() {
    $( "#date" ).datetimepicker({  
         minDate:new Date()
      });
  } );
</script>
<%= form_for(@event) do |f| %>

 
  <div class="field">

     <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :title%>
    <%= f.text_field :title,class: 'form-control' %>

    <%= f.label :location%>
    <%= f.text_field :location,class: 'form-control' %>

  	<%= f.label :description%>
    <%= f.text_area :description,class: 'form-control' %>

    <%= f.label :date%>
    <%= f.text_field :date,class: 'form-control',id: "date",data: { date_format: 'YYYY/MM/DD hh:mm A'}%>

   
  </div>

  <%= f.submit "Create Event", class: "btn btn-primary" %>

<% end %>
